{#
Aside
==============================
* classes: ARRAY (optional) - Custom classes
* attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'aside',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Get properties from settings #}
{% set logoID = settings.logo[0] | default %}
{% set brandBackground = settings.brandBgColor | default('FFF') %}
{% set brandText = settings.brandTextColor | default('000') %}

{# Render the HTML #}
<aside {{ attr(elementAttributes) }}>
	<a href="/"
		title="{{ 'Back to Website' | t }}"
		id="site-button"
		style="background: #{{ brandBackground }}; color: #{{ brandText }}">
		<span class="icon">
			<svg xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 166.4 122.4"
				style="fill: #{{ brandText }}">
				<path d="M62.3,122.4l20.6-8.7C72,90.2,58,78.4,39.3,70.8h127.2V51.4H39.8
				C58,42.6,72.2,32,82.9,8.7L62.3,0C39.8,46.2,16.6,50.9,0,53.7v14.9C16.6,71.5,39.8,76.3,62.3,122.4" />
			</svg>
		</span>
		{{ 'Back to Website' | t }}
	</a>
	<div id="header">
		<div>
			{% if logoID is not empty %}
				<div id="sidebar-logo">
					<a href="/" title="{{ siteName }}">
						<img src="{{ craft.assets().id(logoID).one.url }}"
							title="{{ 'Brand Logo' | t }}" />
					</a>
				</div>
			{% endif %}
			<h1 id="sidebar-title">
				{{ 'Style Guide' | t }}
			</h1>
		</div>
		<div data-burger>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="sidebar-content"></div>
</aside>

<script>
	window.styleGuideSections = {{
		styleguide.config.sections | json_encode | raw
	}}
	window.accentBgColor = {{
		settings.accentBgColor | default('000') | json_encode | raw
	}}
	window.accentTextColor = {{
		settings.accentTextColor | default('FFF') | json_encode | raw
	}}
</script>
