{#
	Aside
	==============================
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Imports #}
{% import '_macros/_styles' as styles %}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'aside',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Render the HTML #}
<aside {{ attr(elementAttributes) }}>
	{% embed global.url ~ '/_atoms/_link'
		with {
			url: siteUrl,
			attributes: {
				id: 'site-button',
				style: styles.parse({
					background: styles.hex(global.colors.brandBackground),
					color: styles.hex(global.colors.brandText)
				})
			}
		}
	%}
		{% block content %}
			{{ 'Back to Website' | t }}
			{% include global.url ~ '/_atoms/_icons/_arrow' %}
		{% endblock %}
	{% endembed %}

	<div id="header">
		<div>
			{% if global.logo is not empty %}
				<div id="sidebar-logo">
					<img src="{{ craft.assets().id(global.logo).one.url }}" />
				</div>
			{% endif %}
			<h1 id="sidebar-title">
				{{ 'Style Guide' | t }}
			</h1>
		</div>
		<div data-burger>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="sidebar-content"></div>
</aside>

<script>
	window.styleGuideSections = {{ styleGuide.config.sections | json_encode | raw }}
	window.accentBgColor = {{ styles.hex(global.colors.accentBackground) | json_encode | raw }}
	window.colors.accentText = {{ styles.hex(global.colors.accentText) | json_encode | raw }}
</script>
