{#
Main
==============================
* classes: ARRAY (optional) - Custom classes
* attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'main',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Get all titles from the #}
{% set titles = [] %}

{% for section in styleguide.config.sections %}
	{% if section.sub | default %}
		{% for item in section.sub %}
			{% set titles = titles | merge([item.title]) %}
			{% if item.sub | default %}
				{% for child in item.sub %}
					{% set titles = titles | merge([child.title]) %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% set titles = titles | merge([section.title]) %}
	{% endif %}
{% endfor %}

{% set controls = [
	{
		attributes: {
			'data-default': ''
		},
		icon: 'arrow',
		text: 'Show Sidebar' | t
	}
] %}

{% for key, breakpoint in styleguide.breakpoints %}
	{% set controls =
		controls | merge(
			[
				{
					attributes: {
						'data-breakpoint': breakpoint
					},
					icon: key | kebab,
					text: key
				}
			]
		)
	%}
{% endfor %}

{% set controls =
	controls | merge(
		[
			{
				attributes: {
					'data-fullscreen': ''
				},
				icon: 'full-screen',
				text: 'Full Screen' | t
			}
		]
	)
%}

{# Render the HTML #}
<main {{ attr(elementAttributes) }}>
	<div data-container>
		<div data-controls>
			{% for item in controls %}
				<div {{ attr(item.attributes) }}>
					{% set icon = websitedocumentation.getUrl() ~ '/_atoms/_icons/_'
						~ item.icon
					%}
					{% if include(icon, ignore_missing = true) is not empty %}
						<span class="icon">{% include icon %}</span>
					{% endif %}
					{{ item.text }}
				</div>
			{% endfor %}
			<div data-copy-link>
				{{ 'Copy Link' | t }}
				{% set copy = websitedocumentation.getUrl() ~ '/_atoms/_icons/_copy' %}
				{% if include(copy, ignore_missing = true) is not empty %}
					<span class="icon">{% include copy %}</span>
				{% endif %}
			</div>
		</div>
		{% for section in titles %}
			{% set template = websitedocumentation.getUrl() ~ '/style-guide/sections/'
				~ (section | kebab)
			%}
			{% if include(template, ignore_missing = true) is not empty %}
				<div data-content="{{ section | kebab }}"
					aria-labelledby="{{ section | kebab }}"
					tabindex="0"
					role="tabpanel">
					<div id="canvas-wrapper">
						<h2 class="content-heading">
							{{ section }}
						</h2>
						<div id="loader">
							{% include websitedocumentation.getUrl()
								~ '/_atoms/_icons/_loader' only %}
						</div>
						<iframe id="canvas"
							data-path="/website-docs/style-guide/sections/{{ section | kebab }}"></iframe>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</main>
