{#
  Aside
  ==============================
  * classes: ARRAY (optional) - Custom classes
  * attributes OBJECT (optional) - Custom attributes
#}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'aside',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Get config #}
{% set section = guide.config.websitedocumention.section %}
{% set settingsUrl = guide.config.websitedocumention.settingsUrl %}
{% set entries =
	craft.entries.section(section.handle).level(1).all() | default
%}

{# Get properties from settings #}
{% set logoID = settings.logo[0] | default %}
{% set brandBackground = settings.brandBgColor | default('FFF') %}
{% set brandText = settings.brandTextColor | default('000') %}

{# Render the HTML #}
<aside {{ attr(elementAttributes) }}>
	<a href="/"
		title="{{ 'Back to Website' | t }}"
		id="site-button"
		style="background: #{{ brandBackground }}; color: #{{ brandText }}">
		<span class="icon">
			<svg xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 166.4 122.4"
				style="fill: #{{ brandText }}">
				<path d="M62.3,122.4l20.6-8.7C72,90.2,58,78.4,39.3,70.8h127.2V51.4H39.8
				C58,42.6,72.2,32,82.9,8.7L62.3,0C39.8,46.2,16.6,50.9,0,53.7v14.9C16.6,71.5,39.8,76.3,62.3,122.4" />
			</svg>
		</span>
		{{ 'Back to Website' | t }}
	</a>
	<div id="header">
		<div>
			{% if logoID is not empty %}
				<div id="sidebar-logo">
					<a href="/" title="{{ siteName }}">
						<img src="{{ craft.assets().id(logoID).one.url }}"
							title="{{ 'Brand Logo' | t }}" />
					</a>
				</div>
			{% endif %}
			<h1 id="sidebar-title">
				{{ 'CMS Guide' | t }}
			</h1>
		</div>
		<div data-burger>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="sidebar-content"></div>
</aside>

{# Create Structure for JSON #}
{% set entriesStructure = [] %}

{% for entry in entries %}
	{% set children = [] %}
	{% if entry.children is not empty %}
		{% for item in entry.children.all() %}
			{% set children = children | merge([item.title]) %}
		{% endfor %}
	{% endif %}

	{% set entriesStructure =
		entriesStructure | merge(
			[
				{
					title: entry.title,
					children: children
				}
			]
		)
	%}
{% endfor %}

<script>
	window.cmsGuideSections = {{ entriesStructure | json_encode | raw }}
	window.accentBgColor = {{
		settings.accentBgColor | default('000') | json_encode | raw
	}}
	window.accentTextColor = {{
		settings.accentTextColor | default('FFF') | json_encode | raw
	}}
</script>

{# Render the HTML #}
{# {% if entries is not empty %}
	<aside {{ attr(elementAttributes) }}>
		{% for entry in entries %}
			{% set attributes = {
				class: 'tab text-left',
				role: 'tab',
				'data-tab': entry.title | kebab,
				'data-hash': entry.title | kebab,
				'aria-selected': 'false',
				'aria-controls': entry.title | kebab
			} %}
			<button {{ attr(attributes) }}>{{ entry.title }}</button>
			{% if entry.children is not empty %}
				{% for item in entry.children.all() %}
					{% set attributes = {
						class: 'tab inline-block text-sm text-left ml-8',
						role: 'tab',
						'data-tab': item.title | kebab,
						'data-hash': item.title | kebab,
						'aria-selected': 'false',
						'aria-controls': item.title | kebab
					} %}
					<button {{ attr(attributes) }}>{{ item.title }}</button>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</aside>
{% endif %} #}
