{#
	Header
	==============================
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Imports #}
{% import '_macros/_styles' as styles %}

{# Set the element's default properties #}
{% set title = title | default('Documentation') %}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'header',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Get properties from settings #}
{% set logoID = settings.logo[0] | default %}
{% set brandBackground = websiteglobal.getSettings().brandBgColor | default('FFF') %}
{% set brandText = websiteglobal.getSettings().brandTextColor | default('000') %}

{# Render the HTML #}
<header {{ attr(elementAttributes) }}>
	{% block content %}
		{% embed global.url ~ '/_atoms/_link'
			with {
				url: siteUrl,
				attributes: {
					id: 'site-button',
					style: styles.parse({
						background: styles.hex(global.colors.brandBackground),
						color: styles.hex(global.colors.brandText)
					})
				}
			}
		%}
			{% block content %}
				{{ 'Back to Website' | t }}
				{% include global.url ~ '/_atoms/_icons/_arrow' %}
			{% endblock %}
		{% endembed %}
		<div id="index-header">
			{% if logoID is not empty %}
				<div id="index-logo">
					<img src="{{ craft.assets().id(logoID).one.url }}"
						title="{{ 'Brand Logo' | t }}" />
				</div>
			{% endif %}
			<div id="index-heading">
				{{ 'Website Documentation' | t }}
			</div>
		</div>
	{% endblock %}
</header>
