{#
	Header
	==============================

	* title: 		STRING - Title of the page | Default: Documentation
	* classes: 		ARRAY (optional) - Custom classes
	* attributes 	OBJECT (optional) - Custom attributes
#}

{# Set the element's default properties #}
{% set title = title | default('Documentation') %}

{# Set the element's base classes #}
{% set elementBaseClasses = [] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'header',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Get properties from settings #}
{% set logoID = settings.logo[0] | default %}
{% set brandBackground = settings.brandBgColor | default('FFF') %}
{% set brandText = settings.brandTextColor | default('000') %}

{# Render the HTML #}
<header {{ attr(elementAttributes) }}>
	{% block content %}
		<a href="/"
			title="{{ 'Back to Website' | t }}"
			id="site-button"
			style="background: #{{ brandBackground }}; color: #{{ brandText }}">
			<span class="icon">
				<svg xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 166.4 122.4"
					style="fill: #{{ brandText }}">
					<path d="M62.3,122.4l20.6-8.7C72,90.2,58,78.4,39.3,70.8h127.2V51.4H39.8
					C58,42.6,72.2,32,82.9,8.7L62.3,0C39.8,46.2,16.6,50.9,0,53.7v14.9C16.6,71.5,39.8,76.3,62.3,122.4" />
				</svg>
			</span>
			{{ 'Back to Website' | t }}
		</a>
		<div id="index-header">
			{% if logoID is not empty %}
				<div id="index-logo">
					<img src="{{ craft.assets().id(logoID).one.url }}"
						title="{{ 'Brand Logo' | t }}" />
				</div>
			{% endif %}
			<div id="index-heading">
				{{ 'Website Documentation' | t }}
			</div>
		</div>
	{% endblock %}
</header>
