{#
	Main
	==============================
	* classes: ARRAY (optional) - Custom classes
	* attributes OBJECT (optional) - Custom attributes
#}

{# Imports #}
{% import '_macros/_styles' as styles %}

{# Set the element's base classes #}
{% set elementBaseClasses = [
	'flex justify-center items-center py-base sm:py-base-sm md:py-base-md'
] %}

{# Merge custom classes with the base classes #}
{% if classes is defined and classes is not empty %}
	{% set elementBaseClasses = elementBaseClasses | merge(classes) %}
{% endif %}

{# Set the element's base attributes #}
{% set elementAttributes = {
	id: 'main',
	class: elementBaseClasses
} %}

{# Merge custom attributes with the base attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set elementAttributes = elementAttributes | merge(attributes) %}
{% endif %}

{# Render the HTML #}
<main {{ attr(elementAttributes) }}>
	<section id="index-main">
		{# Style Guide #}
		<div class="index-main__block">
			<a href="/{{ global.url ~ '/style-guide' }}">
				<div class="index-main__block-icon"
					style="background: {{ styles.hex(global.colors.brandBackground) }}">
					{% set styleGuide = global.url ~ '/_atoms/_icons/_style-guide' %}
					{% if include(styleGuide, ignore_missing = true) is not empty %}
						<span class="icon">
							{% include styleGuide with {
								attributes: {
									style: styles.parse({
										fill: styles.hex(global.colors.brandText)
									})
								}
							} only %}
						</span>
					{% endif %}
				</div>
				<div class="index-main__block-title">
					<h2>
						{{ 'Style Guide' | t }}
					</h2>
				</div>
			</a>
		</div>
		{# CMS Guide #}
		<div class="index-main__block">
			<a href="/{{ global.url ~ '/cms-guide' }}">
				<div class="index-main__block-icon"
					style="background: {{ styles.hex(global.colors.brandBackground) }}">
					{% set cmsGuide = global.url ~ '/_atoms/_icons/_style-guide'
					%}
					{% if include(cmsGuide, ignore_missing = true) is not empty %}
						<span class="icon">
							{% include cmsGuide with {
								attributes: {
									style: styles.parse({
										fill: styles.hex(global.colors.brandText)
									})
								}
							} only %}
						</span>
					{% endif %}
				</div>
				<div class="index-main__block-title">
					<h2>
						{{ 'CMS Guide' | t }}
					</h2>
				</div>
			</a>
		</div>
	</section>
</main>
